## 1. Installation of MySQL 

```
sudo apt-get install mysql-server
```

## Starting and Stopping the MySQL Server

### Status of MySQL server

```
sudo service mysql status
```

### Stop the MySQL server
```
sudo service mysql stop
```

### Start the MySQL server
```
sudo service mysql start
```

## 2. Login into MySQL server
```
sudo mysql -u root -p
```

## set the password requirement
```
SET GLOBAL validate_password_length = 6;
SET GLOBAL validate_password_policy = 0;
SET GLOBAL validate_password_number_count = 0;
```
## Create new user 
```
CREATE USER 'niveraj'@'localhost' IDENTIFIED BY 'testing';
```

## Grant Permission for new user
```
GRANT ALL PRIVILEGES ON *.* TO 'niveraj'@'localhost';
```

## List all the MySQL users
```
SELECT User,Host FROM mysql.user;
```

## quit the MySQL server
```
quit
```

## 3. MANAGE DATABASE

### CREATE A NEW DATABASE
```
CREATE DATABASE testdb;
```

### VIEW ALL THE DATABASES
```
SHOW DATABASES;
```

### USE A DATABASE
```
USE sampledb;
```

### view the list of databases current in use
```
SELECT DATABASE();
```

### VIEW ALL THE TABLES IN DATABASE
```
SHOW TABLES;
```

### VIEW TABLE IN PARTICULAR DATABASE
```
SHOW TABLES IN sampledb
```


### Push the new database from command line
```
$ sudo mysql -t < databasa.sql;
```

In [ ]:
## 4.